{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Book Detail
{% endblock %}

{% block content %}
<div class="book-detail">
    {% if book.cover %}
        <img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
    {% endif %}
    <h2><a href="">{{ book.title }}</a></h2>
    <p>Author: {{ book.author }}</p>
    <p>Price: ${{ book.price }}</p>

    <div>
        <h3>Reviews</h3>
        {% if not user_review %}
        <div hx-get="{% url "get_user_review" %}" hx-trigger="new_review from:body" hx-swap="innerHTML">
            <p>Read it? Tell others what you think! 😎</p>
            <!-- user entered review will appear here.-->
        </div>
        {% endif %}
        <br>

        {% if book.reviews.all %}
            {% for review in book.reviews.all %}
                <p>{{ review.review }} ({{ review.author }})</p><br>
            {% endfor %}
        {% endif %}
    </div>

    {% if not user_review %}
    <div>
        <form hx-post="{% url 'review_form' book.id %}" hx-swap="outerHTML">
            {% csrf_token %}
            <p>Submit Your review</p>
            {{ form|crispy }}
            <input type="submit" value="Submit">
        </form>
    </div>
    {% endif %}

</div>
{% endblock %}